<div *ngIf="photo" align="center" class="container photo-details">
    <div class="text-right utility-buttons">
        <button class="btn btn-info">
            Edit
        </button>
        <button class="btn btn-danger" (click)="deletePhoto()">
            Delete
        </button>
    </div>
    <img [src]="photo.url" class="photo-img">
    <div align="left">
        <p><b>Title:</b> {{photo.title}}</p>
        <p><b>ID:</b> {{photo.id}}</p>
        <p><b>Thumbnail URL:</b> {{photo.thumbnailUrl}}</p>
        <p><b>URL:</b> {{photo.url}}</p>
        <p><b>Album ID:</b> {{photo.albumId}}</p>
    </div>
</div>